%h1 Index Users

%table{class:"table table-striped table-bordered table-hover table-condensed"}
  %thead
    %tr
      %td
        Username
      %td
        Email
      %td
        Role
      %td
        Password Digest
  %tbody
    -@users.each do |user|
      %div
        %tr
          %td
            =user.name
          %td
            =user.email
          %td
            =user.role.humanize
          %td
            =user.password_digest