-provide(:title, @user.name)
%h1
  =@user.name
-if admin? current_user
  .center
    =@user.role.humanize
.col-md-4
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %caption
      %strong
        Requests
    %thead
      %tr
        %td
          Score
        %td
          Title
        %td
          Game
    %tbody
      %tr
        %td
          Content
        %td
          More content
        %td
          3 content
