-provide(:title, @user.name)
%h1
  =@user.name
%table{class:"table table-striped table-bordered table-hover table-condensed"}
  %thead
    %tr
      %td
        ID
      %td
        Username
      %td
        Email
      %td
        Role
      %td
        Password Digest
  %tbody    
    %div
      %tr
        %td
          =@user.id
        %td
          =@user.name
        %td
          =@user.email
        %td
          =@user.role.humanize
        %td
          =@user.password_digest