=form_for([@game, @ticket], :html => {:class => "form-group"}) do |f|
  .form-group
    =f.label :name
    =f.text_field :name, class:"form-control", placeholder: "Name"
  .form-group
    =f.label :description
    =f.text_field :body, class:"form-control", placeholder: "Description"
  =f.submit "Submit", class: "btn btn-primary", type: "submit"