-provide(:title, @game.name)
%h1
  =@game.name
%h2
  =@game.body
-if signed_in?
  .text-center
    =link_to "Add Ticket", new_game_ticket_path(@game), id: "add_ticket"
    |
    =link_to "Add Guide", new_game_guide_path(@game), id: "add_guide"
    |
    =link_to "Add Document", new_game_document_path(@game), id:"add_document"
.top15
= render template: 'tickets/index'
= render template: 'guides/index'
= render template: 'documents/index'