-provide(:title, @game.name)
%h1
  =@game.name
%h2
  =@game.body
-if signed_in?
  =link_to "Add Ticket", new_game_ticket_path(@game), id: "add_ticket", class: "text-center col-md-4 col-md-offset-4"
  =link_to "Add Guide", new_game_guide_path(@game), id: "add_guide", class: "text-center col-md-4 col-md-offset-4"
.top15
= render template: 'guides/index'
= render template: 'tickets/index'